/* Navigation bar */
* {
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  font-family: Verdana;
}
ul {
  text-align: center;
  box-shadow: darkgrey;
  background-color: rgb(56, 49, 49);
  padding: 20px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
a {
  padding: 20px;
  margin: 0;
  color: white;
  text-decoration: none;
  font-family: serif;
}
a:hover {
  color: black;
}
/* contact form */
.contact {
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
body {
  background-image: url(https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png);
  background-position: center;
  background-size: cover;
}
form {
  margin: 50px 0px;
  padding: 0px;
  text-align: center;
  align-self: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  background-color: grey;
  padding: 5%;
  background: rgba(204, 194, 194, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
}
[placeholder]:hover {
  color: grey;
}
button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:12px;
}
/* Home page */
.bigheader {
  text-align: center;
  color: rgb(182, 164, 163);
  font-family: serif;
  font-weight: 100;
  font-size: 8em;
}
.bigheader:hover {
  color: rgb(13, 83, 189);
}
h1 {
  padding: 20px;
  margin: 1em 0 0.5em 50px;
	font-weight: 100;
	text-transform: uppercase;
	color: #00caa6;
	font-style: italic;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 58px;
	line-height: 54px;
	text-shadow: 2px 5px 0 rgba(0,0,0,0.2);
}
p {
  margin-bottom: 50px;
    color: rgb(10, 0, 0);
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 70px;
}
strong{
  color: black;
}
.home-page-img{
  border-radius: 12px;
}
/* about page*/
.about-header{
  text-align: center;
  margin-right: 100px;
    font-weight: 500;
    font-size: 5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about-header:hover{
    color: darkgray;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

.about-para{
    border: 12px solid rgb(0, 0, 0);
    border-radius: 12px;
}
table{
  margin-left: 19%;
}
th{
  height: 20%;
}
.youtube{
  margin-left: 25%;
}
